.security-header-table {
    width: 100%;
}

.security-header {
    margin: 2px 0px 13px 0px;
}

.security-header * {
    font-size: 12px;
}

.security-save {
    float: right;
    padding: 0px 5px;
}

.security-access-header {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    margin-bottom: 5px;
}

.security-canvas {
    overflow: hidden;
}

.security-owner td {
    cursor: pointer;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 1px 0px 1px 3px;
    font-size: 12px;
}

.security-owner:hover {
    background-color: #DEDEDE;
}

.access-table-placeholder table {
    table-layout: fixed;
}

.security-add-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 2px;
    background: url(../img/add_user.png);
    cursor: pointer;
}

.security-add-container {
    position: absolute;
    right: 0px;
    top: 0px;
}

.security-add-container > button {
    margin-left: 10px;
    padding: 0px 5px;
}