.security-header-table {
    width: 100%;
    height: 22px;
    margin-bottom: 7px;
}

.security-owner {
    line-height: 22px;
    height: 22px;
}

.security-header {
    margin: 2px 0px 5px 0px;
}

.security-header * {
    font-size: 12px;
}

.security-save {
    float: right;
    padding: 0px 5px;
}

.security-access-header > * {
    vertical-align: middle;
}

.security-canvas {
    overflow: hidden;
}

.access-table-placeholder table {
    table-layout: fixed;
}

.security-access-label {
    padding-right: 5px;
}

.security-add-icon {
    width: 24px;
    height: 24px;
    background: url(../img/add_user.png);
    cursor: pointer;
    display: inline-block;
}

.security-add-container {
    font-size: 12px;
    margin-bottom: 5px;
}

.security-add-container > button, .security-owner-container > button {
    margin-left: 10px;
    padding: 0px 5px;
}

.security-canvas .ui-autocomplete {
    border: 1px solid #AAA;
    padding: 0px;
}

.security-owner-container {
    display: inline-block;
}

.security-owner-cell {
    width: 100%;
    padding-left: 5px;
}

.security-add-input {
    width: 170px;
}

.security-owner-placeholder {
    margin-bottom: 6px;
}

.security-userlist-placeholder {
    margin-top: 5px;
}