.stylelib-category-active {
    background-color: #FAFAFE;
}

.stylelib-category-count {
    float: right;
    margin-right: 5px;
}

.stylelib-category-panel {
    vertical-align: top;
    position: relative;
    width: 100px;
    background: #539abc;
}

.stylelib-category-controls {
    position: absolute;
    bottom: 0px;
}

.stylelib-category-container {
    width: 148px;
    background: #539abc;
}

.stylelib-category-container  > div{
    width: 100%;
    cursor: pointer;
    padding: 4px 0px;
    font-size: 11px;
    font-family: Verdana;
}

.stylelib-category-container  span{
    font-size: 11px;
    font-family: Verdana;
    color: white;
    padding-left: 16px;
}

.stylelib-category-active span{
    color: black;
}

.stylelib-styles-container {
    background-color: #eeeeee;
    height: 335px;
    overflow-y: auto;
}

.stylelib-main-table {
    width: 100%;
}

.stylelib-style-container {
    display: inline-block;
    margin: 3px;
    vertical-align: top;
}

.stylelib-style-icon-container {
    width: 64px;
    height: 64px;
    position: relative;
    /*background-image: linear-gradient( -45deg, cyan, green );*/
}

.stylelib-style-title {
    text-align: center;
    font-family: Verdana;
    font-size: 10px;
}

.stylelib-style-active {
    border: 1px solid #8ac4df;
    margin: 2px;
    background: #e6eff3;
}

.stylelib-controls > span {
    margin-right: 10px;
}

.stylelib-edit-title-container {
    padding: 2px 12px 15px 0px;
}

.stylelib-edit-title {
    width: 100%;
    margin-top: 4px;
}

.stylelib-dialog {
    border: solid 1px #8ac4df;
}

.ui-dialog .ui-dialog-content {
    margin: 0;
}

.stylelib-dialog .ui-widget-header {
    background: none;
    border: none;
}

.stylelib-dialog .ui-dialog-title {
    color: black;
    font-size: 12px;
    font-family: Verdana;
    font-weight: bold;
    padding: 7px 5px;
}

.stylelib-dialog li.ui-state-default{
    border: none;
    background: none;
    padding: 8px !important; 
}

.stylelib-dialog  li.ui-state-active{
    background: #FAFAFE;    
}

.stylelib-dialog .ui-state-default > a{
    color: white;
    font-size: 11px;
    font-family: Verdana;
}

.stylelib-dialog  .ui-state-active  > a{
    color: black;
}

.stylelib-dialog .ui-tabs-nav {
    background: #539abc;
    padding: 0;
}

.stylelib-category-actions {
    background: #92bfd5;
    padding: 4px 0px;
    font-size: 0px;
}

.stylelib-icon {
    height: 23px;
    width: 15px;
    display: inline-block;
    cursor: pointer;
    margin: 0px 10px;
}

.stylelib-category-add, .stylelib-style-add {
    background: url(../img/stylelib.png);
}

.stylelib-category-edit, .stylelib-style-edit{
    background: url(../img/stylelib.png) -16px 0px;
}

.stylelib-category-remove, .stylelib-style-remove{
    background: url(../img/stylelib.png) -32px 0px;
}

.stylelib-style-controls {
    position: absolute;
    right: 0px;
    z-index: 1;
}