.stylelib-category-active {
    background-color: #cccccc;
}

.stylelib-category-count {
    float: right;
    margin-right: 5px;
}

.stylelib-category-panel {
    vertical-align: top;
    position: relative;
}

.stylelib-category-controls {
    position: absolute;
    bottom: 0px;
}

.stylelib-category-container {
    width: 100px;
}

.stylelib-category-container  > div{
    width: 100%;
    cursor: pointer;
    padding: 2px 0px;
}

.stylelib-styles-container {
    background-color: #eeeeee;
    height: 320px;
    overflow-y: auto;
}

.stylelib-main-table {
    width: 100%;
}

.stylelib-style-container {
    display: inline-block;
    margin: 3px;
    vertical-align: top;
}

.stylelib-style-icon-container {
    width: 64px;
    height: 64px;
    position: relative;
    /*background-image: linear-gradient( -45deg, cyan, green );*/
}

.stylelib-style-title {
    text-align: center;
}

.stylelib-style-active {
    border: 1px red solid;
    margin: 2px;
}

.stylelib-controls > span {
    margin-right: 10px;
}

.stylelib-edit-title-container {
    padding: 2px 12px 15px 0px;
}

.stylelib-edit-title {
    width: 100%;
    margin-top: 4px;
}