*
{
	font-family: sans-serif;
	font-size: 11px;
	color: #003366;
	padding: 0;
	margin: 0;
/*	background-color: transparent;*/
}
body
{
	color: inherit;
	background-color: #FAFAFE;
	overflow:hidden;
	border:none;
}
table
{
	border-collapse: collapse;
}
select
{
	background-color: #FAFAFE;
	height: 20px;
}
option
{
	padding: 1px 0px 1px 3px;
}
.userCanvas
{
	z-index: -1;
	left: 0px;
	top: 30px;
	position: absolute;
}
.colorSelector
{
	height: 18px;
	margin: 2px;
	position: relative;
	width: 30px;
	border: 1px solid #000000;
}
.colorIcon
{
	height: 13px;
	margin: 0px 3px 0px 4px;
	position: relative;
	width: 9px;
	border: none;
	cursor: pointer;
	font-size: 0px;
}
.borderIcon
{
	height: 11px;
	position: absolute;
	width: 7px;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-size: 0px;
	top: 0px;
	left: 0px;
}
.fillIcon
{
	height: 11px;
	margin: 0px;
	border: none;
	position: absolute;
	width: 7px;
	font-size: 0px;
	top: 1px;
	left: 1px;
}
.inputStyle
{
	border: 1px solid #AFC0D5;
	background-color: #FFFFFF;
	height: 14px;
	padding: 2px;
	margin: 1px 3px;
}

.inputStyle.inputShortWidth
{
	width: 35px;
}

textarea.inputStyle
{
	padding: 0px;
}
.selectStyle
{
	border: 1px solid #AFC0D5;
	background-color: #FFFFFF;
	height: 20px;
	margin: 1px 3px;
}
.header
{
	height: 95px;
	background: #FAFAFE;
}
.headerLinks
{
	text-align: left;
	position: relative;
	height: 30px;
	background-color: transparent;
}
.headerLinks a
{
	text-decoration: none;
	color: #293D6B;
	margin: 4px 10px 0px 5px;
	font-size: 11px;
	float: right;
}
.headerLinks a img
{
	border: none;
	margin: 0px 3px -3px 0px;
}
.headerLinks a:hover
{
	text-decoration: underline;
}
div.active
{
	background-color: #94CAEB;
}
div.log
{
	/*position: absolute;
	width: 40px;
	top: 8px;
	right: 10px;
	text-align: right;*/
    float: right;
    margin: 8px 10px 0px 0px;
}
div.log span
{
	font-family: tahoma;
	font-size: 13px;
}
div.user
{
	float: right;
	/*text-align: right;
	position: absolute;
	width: 300px;
	top: 8px;
	right: 50px;*/
	white-space: nowrap;
	overflow: hidden;
    margin: 8px 4px 0px 0px;
}
div.user span
{
	color: #fc830b;
	font-family: tahoma;
	font-size: 13px;
	font-weight: bold;
}
.leftIconPanel
{
	height: 35px;
	padding-top: 1px;
	background: url(img/grad.png) repeat-x scroll 0px -125px;
}
.iconPanel
{
	height: 35px;
	padding-top: 1px;
	background: url(img/grad.png) repeat-x scroll 0px -125px;
/*	border-left: 1px solid #EDF4F6;/*#216b9c #6eb8ce*/
}
.logo
{
	background: transparent url(img/geomixer_transpar.png) center no-repeat;
	height: 60px;
	width: 360px;
}

.emptyLogo
{
	height: 60px;
	width: 360px;
}

.flashMap
{
	position: relative;
	border-left: 1px solid #216b9c;
}
.tooltip
{
	position: absolute;
	border: 1px solid #5195BE;
	background-color: #FAFAFF;
	color: #5185AE;
	padding: 2px;
	z-index: 10000;
	left: 0px;
	top: 0px;
	visibility: hidden;
}
.leftMenu
{
	position: absolute;
	left: 0px;
	top: 95px;
	width: 360px;
	overflow: hidden;
}
.leftContent
{
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.layerManager
{
	position: absolute;
	left: 360px;
	top: 30px;
	width: 300px;
	overflow: hidden;
}
div.error,
input.error,
textarea.error
{
	background-color: #FFABAB;
}

/* left menus */
div.leftTitle
{
	height: 25px;
/*	background: url(img/grad.png) repeat-x scroll 0px -126px;*/
	background-color: #539abc;
	width: 360px;
	display: inline-block;
}
.leftTitle table
{
	float:left;
}
.leftTitle img
{
	width: 18px;
	height: 18px;
}
.leftMenuBorder
{
	height: 1px;
	background: #6CB9CE;
}
.left_wfs
{
	margin: 0px;
	background-color: #FAFAFE;
}
.left_wms
{
	margin: 0px;
	background-color: #FAFAFE;
}

.left_pictureBinding
{
	margin: 0px;
	background-color: #edf4f6;
}
.left_layers
{
	margin: 0px;
	background-color: #FAFAFE;
}
.left_gps
{
	margin: 0px;
	background-color: #edf4f6;
}
.left_layerManager
{
	margin: 0px;
	background-color: #edf4f6;
}
.left_objects
{
	margin: 0px;
	background-color: #edf4f6;
}
.left_shp
{
	margin: 0px;
	background-color: #edf4f6;
}
.left_help
{
	margin: 0px;
	background-color: #edf4f6;
}
.left_search
{
	margin: 0px;
	background-color: #edf4f6;
}
.left_usage
{
	margin: 0px;
	background-color: #edf4f6;
}
.left_serviceHelp
{
	margin: 0px;
	background-color: #edf4f6;
}
.left_mapTabs
{
	margin: 0px;
	background-color: #edf4f6;
}

/* loadServerData */
.serverDataCanvas
{
	width: 340px;
}
.serverDataInput
{
	width: 100%;
	padding: 5px 5px 5px 5px;
}
.serverDataCanvas .urlHeader
{
	font-size: 12px;
	margin: 1px 3px;
}
.serverDataCanvas .layerfeature
{
	margin: 3px;
}

/* binding */
.workArea
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #FAFAFE;
	position: relative;
}

.imgCanvas
{
	width: 2912px;
	height: 1896px;
	background-image: url(landsat.jpg)
}

.imgBoundingPoint
{
	width: 21px;
	height: 27px;
	z-index: 1;
	position: absolute;
	cursor: pointer;
}
.imgHelperPoint
{
	width: 21px;
	height: 18px;
	margin: 5px;
	cursor: pointer;
}

/* mapLayers */
.layer
{
	padding: 0px 2px 0px 4px;
	cursor: pointer;
	position: relative;
}
.groupLayer
{
	margin: 0px 0px 0px 4px;
	font-weight: bold;
	cursor: pointer;
}

.dragableDummy
{
	padding: 2px 2px 2px 20px;
	background: #7BCBF2;
	font-family: monospace;
	color: #123456;
	border-right: 2px solid #ABBCCD;
	border-bottom: 2px solid #ABBCCD;
	z-index:100000;
	-webkit-user-select:none;
	cursor: move;
}
.droppableHover span
{
	text-decoration: underline;
}
li.nodeJustChanged
{
	background-color: #EAF0FA;
}
div.swap
{
	height: 5px;
}
div.swap-droppableHover
{
	height: 5px;
	background: url(img/swap.gif) no-repeat;
}

/* gps */
div.unit
{
	width: 345px;
	padding: 5px;
	cursor: pointer;
	width: 345px;
}
div.unit.selectedUnit
{
	background-color: #AACEF5;
}
.hoverUnit
{
	background-color: #BAD1FF;
}
div.unit .unitName
{
	font-size: 20px;
	margin-left: 5px;
	font-weight: bold;
	color: #3557A9;
}
div.unit .unitInfo
{
	margin-left: 5px;
	font-size: 12px;
}

/* layer manager */
.searchCanvas span
{
	margin: 0px 5px;
}
.layerDescription
{
	margin: 0px 5px;
	color: #7D7D8D;
}
.filterCanvas
{
	padding: 4px 0px;
	border-bottom: 1px solid #DCDCDC;
}
.box
{
	float: left;
}
.icon
{
	float: left;
	margin: 0px 5px -3px 5px;
	cursor: pointer;
}

/* drawingObjects */
.DrawingObjectsLeftMenu
{
	margin: 3px 13px 3px 7px;
}
.drawingObjectsCanvas
{
	padding: 3px 13px 3px 7px;
}
.drawingObjectsCanvas .canvas
{
	margin: 2px 0px;
	height: 20px;
	z-index: 1;
	position: relative;
}
.drawingObjectsCanvas .title
{
	cursor: pointer;
	margin: 0px 4px;
	color: #218580;
}
.drawingObjectsCanvas .title:hover
{
	text-decoration: underline;
}
.drawingObjectsCanvas .text
{
	cursor: pointer;
	margin: 0px 2px;
	color: #FC830B;
}
.drawingObjectsCanvas .summary
{
	margin: 0px 2px;
	color: #215570;
}

.drawingObjectsItemCanvas
{
	position: relative;
}

.drawingObjectsActiveItemCanvas
{
	/*background-color: #ffff00;*/
	background-color: #94CAEB;
}
.drawingObjectsActiveItemCanvas .drawingObjectsItemTitle
{
	color: #003366;
}

.drawingObjectsItemTitle
{
	cursor: pointer;
	margin: 0px 4px;
	color: #218580;
}
.drawingObjectsItemTitle:hover
{
	text-decoration: underline;
}

.DrawingObjectsLeftMenu .removeGeometry
{
	position: absolute;
	top: 1px;
	right: 7px;
}

.removeGeometry
{
    vertical-align: middle;
}

.drawingObjectsCanvas .remove, /* Старая реализация, новая - removeGeometry*/
.serverDataCanvas .remove
{
	cursor: pointer;
	height: 16px;
	padding: 0;
	width: 16px;
	top: 2px;
	right: 7px;
	position: absolute;
}
.item img
{
	height: 13px;
	width: 7px;
	margin-left: 5px;
	margin-right: 4px;
}
.drawingObjectsCanvas div.item
{
	float: left;
	margin-right: 16px;
}
.drawingObjectsDownloadCanvas
{
	padding: 3px 5px;
}
.drawingObjectsDownloadCanvas div
{
	margin: 2px 5px;
}

/* help */
.help
{
	padding: 5px 15px;
}
.help p,
.help span,
.help a
{
	margin: 3px 0px;
	font-size: 12px;
}
.help div.helpHeader
{
	font-size: 14px;
	margin: 7px 0px 2px 0px;
	color: #153069;
}
.childsCanvas
{
	padding-right: 10px;
}
/* */
.attrsHelperCanvas
{
	cursor: pointer;
	color: #999999;
}
.attrsHelper
{
	overflow-y: auto;
	width: 130px;
	height: 70px;
	position: absolute;
	left: -3px;
	top: -70px;
	border: 1px solid #AFC0D5;
	background-color: #FFFFFF;
}
.attrsHelperBounding
{
	width: 140px;
	height: 80px;
	position: absolute;
	left: -8px;
	top: -75px;
/*	visibility: hidden;
	z-index: -1;*/
}
.attrsHelperElem
{
	width: 110px;
	height: 14px;
	padding: 2px 0px 1px 3px;
	overflow-x: hidden;
	white-space: nowrap;
	cursor: pointer;
}
.styleTitle
{
	width: 70px;
}
.attrsHelperHover
{
	background-color: #91C1D2;
}
.block
{
	width: 270px;
	height: 25px;
	top: 0px;
	left: 0px;
	position: absolute;
	background: #ABABAB;
}

.layerProperties
{
	width: 320px;
}

/*.layerProperties td
{
	height: 18px;
	border: 1px solid #DEDEDE;
}*/

.propertiesTable td
{
	height: 22px;
	border: 1px solid #DEDEDE;

}

.layerProperties td
{
	height: 18px;
	border: 1px solid #DEDEDE;
}

.fileCanvas td
{
	padding: 1px 2px;
}
.fileCanvas tbody td
{
	border-top: 1px solid #D0D8DF;
	border-bottom: 1px solid #D0D8DF;
}
.fileCanvas .currentDir
{
	padding: 3px 0px 3px 5px;
}
.fileCanvas tr.hover td
{
	background-color: #DEDEDE;
}
.fileCanvas thead td
{
	background: url("img/gradHeader.png") repeat-x scroll 0 -30px transparent;
}

.fileCanvas-folder-icon
{
	background: url("img/folder.png");
    margin: 2px 3px -3px 0px;
    width: 13px;
    height: 13px;
    float: left;
}

.fileBrowser-pathWidget
{
    margin: 2px 0px
}

.fileBrowser-pathElem
{
    cursor: pointer;
}

.fileBrowser-activePathElem
{
    background-color: #b7e7eb;
}

.fileBrowser-progress
{
    background: url(img/progress.gif);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 3px 3px;
}

.vectorInfoParams
{
	width: 100%;
}

.vectorInfoParams td
{
	padding: 1px 2px;
	border: 1px solid #CDCDCD;
}

.floatLeft
{
	float: left;
}
.floatRight
{
	float: right;
}

.contextMenu
{
	position:absolute;
	z-index: 1000000;
	background-color: #DAEAF3;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
	/*width: 120px;*/
}

.contextMenuItem
{
	padding-top: 1px;
	padding-bottom: 1px;
	white-space:nowrap;
}

.contextMenuItem span.buttonLink
{
	color: #293D6B;
}
.contextMenuItem span.buttonLinkHover
{
	color: #fc830b;
}

.contextMenuSeparator
{
	border-bottom: 1px solid #999999
}

.invisible,
.invisible span,
.invisible div,
tr td.invisible
{
	color: #999999;
}

.mapAccessSuggest
{
	position: absolute;
	width: 300px;
	height: 200px;
	border: 1px solid #999999;
	background: #FFF;
	top: 23px;
	left: 0px;
	padding: 2px;
}

.skype_pnh_print_container
{
	display:inline !important;
}
skype_pnh_container
{
	display:none !important;
}

.attrsTableBody #attrsTableParent td
{
	padding: 1px 5px 2px 5px;
	border: 1px solid #dedede;
	font-size: 12px;
	font-weight: normal;
}
.attrsTableBody #attrsTableParent th
{
	background:url("img/gradHeader.png") repeat-x scroll 0 -30px transparent;
	height:20px;
	text-align:center;
	padding: 1px 5px 2px 5px;
	border: 1px solid #dedede;
	font-size: 12px;
	font-weight: normal;
}

.attrsTableBody #attrsTableParent .odd td
{
	background-color: #eaeaea;
}

.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}

.customAttributes td {
	border-width: 0px;
	background-color: 0xffffff;
}

.VectorLayerEncoding td
{
	border: none;
	padding-left: 1px
}

.VectorLayerEncoding label
{
	padding-left: 3px
}

.VectorLayerEncoding .VectorLayerEncodingInput
{
	margin-left: 3px;
	width: 150px
}

.CustomErrorText
{
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

/*.TemporalLayer *
{
	margin: 1px 2px;
}*/

.TemporalLayer
{
	margin-top: 8px;
    margin-left: 3px;
}

.TemporalLayer table
{
	width: 100%;
}

.TemporalLayer td
{
	border: none;
	padding: 3px 0px 0px 0px;
}

.TemporalLayer label
{
	padding-right: 3px;
}

.TemporalLayer select
{
	width: 100px;
}

.TemporalLayer .ErrorPeriod
{
	background-color: #FFABAB;
}

.temporal-properties-single
{
    float: right;
    margin-right: 41px;
}

.temporal-control-noattr
{
    font-weight: bold;
    color: red;
}

.temporal-properties-single *
{
    vertical-align: middle;
}

.temporal-type
{
    float: right;
    margin-right: 3px;
}

.temporal-type > *
{
    vertical-align: middle;
}

.searchCanvas .PeriodCalendar
{
	margin: 0px;
}

.searchCanvas #calendar
{
	margin: 0px;
}

.searchCanvas .intersection > td
{
	padding-top: 10px;
}

.layersScroll .ui-widget-content
{
	background: #cceeee;
	margin: 7px;
}

div.layersScroll
{
	width: 330px;
	padding: 5px 0px;
}

.layersScroll label
{
	font-size: 12px;
	margin-left: 3px;
}

.layersScroll table, .layersScroll td#scrollTD
{
	width: 100%;
}
.layersScroll img
{
	margin-top: 4px;
}

.tableBody .listLayerTable td
{
	border:none;
}

.fillColorOpacity
{
    margin-left: 9px;
}

.fillStyleControls #patternStyleSelector
{
	width: 100%;
}

.fillStyleControls .widthInput
{
	margin-right: 15px;
}

.fillStyleControls .opacityIcon
{
    margin: 4px;
}

.fillStyleControls .widthStepTable input
{
	width: 30px;
}

.fillStyleControls .widthStepTable td
{
	text-align: center;
}

.fillStyleControls .widthStepTable img
{
	margin: 1px;
}

.fillStyleControls .selectorDiv
{
	white-space: nowrap;
}

.fillStyleControls #patternOpacitySlider
{
	margin: 5px 0px;
}

.fillStyleControls .patternColorPicker
{
	width: 100%;
	padding-right: 5px;
}

.fillStyleControls .patternColorDelete
{
	text-align: center;
}


.fillStyleControls .patternColorPicker > div
{
	height: 10px;
}

.fillStyleControls .patternColorControl table
{
	width: 100%
}

.fillStyleControls .widthStepTable *
{
	vertical-align: middle;
}

/*.fillStyleControls td.selectorDivContainer
{
	vertical-align: top;
}*/

.fillStyleSelectorDiv img
{
	border: solid 2px white;
	cursor: pointer;
}

.fillStyleSelectorDiv img.selectedType
{
	border: solid 2px red;
}

#patternStyleSelector img
{
    width: 16px;
    height: 16px;
    border: 2px solid #cccccc;
    margin: 1px;
    cursor: pointer;
}

#patternStyleSelector img.activePatternType
{
    border: 2px solid red;
}

.EmailErrorMessage
{
    background-color: #ffcccc
}

.pluginEditor-pluginList
{
    height: 200px;
    width: 150px;
}

.pluginEditor-pluginInput
{
    width: 144px;
    margin: 2px 0px;
}

.pluginEditor-allContainer
{
    padding-right: 10px;
    text-align: center;
}

.pluginEditor-widgetContainer
{
    height: 200px;
}

.pluginEditor-table
{
    width: 100%;
}

.pluginEditor-remove
{
    vertical-align: middle;
    float: right;
}

.pluginEditor-widgetHeader
{
    text-align: center;
    padding-bottom: 6px;
    font-weight: bold;
}

.pluginEditor-widgetTD
{
    vertical-align: top;
}

.pluginEditor-allTD
{
    width: 50%;
}

.pluginEditor-widgetElem
{
    padding: 2px 0px
}

.pluginEditor-widgetElemCommon
{
    padding: 2px 0px;
}

.pluginEditor-widgetElemCommon > span
{
    color: gray;
}

.pluginEditor-widgetElem > span, .pluginEditor-widgetElemCommon > span
{
    cursor: default;
}

.pluginEditor-widgetElem:hover, .pluginEditor-widgetElemCommon:hover
{
    background-color: #eeeeee;
}

.pluginEditor-addButton
{
    width: 100%
}

.pluginEditor-hiddenPluginOption
{
    color: gray;
}

.uiw-inactive
{
    color: #bbbbbb;
}

.clusterStyleControl {
    border-color: #bbbbbb;
    border-style: solid;
    border-width: 1px;
    padding-left: 6px;
    margin-left: -6px;
}

.clusterViewContainer td
{
    margin: 1px;
}

.clusterViewContainer input
{
    width: 30px;
}

/*.attrTableBody #attrTable2TableParent th, .attrTableBody #attrTable2TableParent td
{
    border: 1px solid #DEDEDE;
    padding: 1px 5px 2px;
}*/

.layertags-type
{
    width: 80px;
}

.layertags-container
{
    overflow: auto;
    margin-top: 5px;
}

.layertags-table input
{
    margin: 1px;
}

.layertags-table td
{
    border: 0px;
}

.layertags-delete
{
    padding-left: 2px;
}

.layertags-collapsable td
{
    border: none;
    width: 250px;
}

#layerSource .ui-tabs-nav li
{
    width: 31%;
    text-align: center;
}

#layerSource .ui-tabs-nav a
{
    width: 88%;
}

#layerSource .ui-widget-header
{
    background: none;
    border: 0px;
}

#layerSource .ui-tabs-selected
{
    background: #DCE3E5
}

#layertagstable .ui-autocomplete
{
    background-color: #eeeeff;
    border: 1px solid #AFC0D5;
}

.ui_tpicker_minute .ui-slider, .ui_tpicker_hour .ui-slider, .ui_tpicker_second .ui-slider
{
    background-color: #6EB8CE;
}

#ui-datepicker-div .ui-state-active
{
    background-color: #FFCCCC;
}

.collabsible-icon
{
    width: 9px;
    height: 9px;
    float: left;
    margin: 2px 5px;
    cursor: pointer;
}

.collabsible-icon-hidden
{
    background: url(http://kosmosnimki.ru/img/expand.gif);
}

.collabsible-icon-shown
{
    background: url(http://kosmosnimki.ru/img/collapse.gif);
}

.collabsible-title
{
    margin: 5px 0px;
    font-weight: bold;
    cursor: pointer;
}

.RCCreate-params td
{
    border: none;
}

.RCCreate-params
{
    margin: 10px 0px 0px 3px;
}

.RCCreate-zoom-input
{
    width: 30px;
}

.RCCreate-tagContainer
{
    margin-top: 10px;
}

.RCCreate-checkbox
{
    margin-left: 3px;
}

.RCCreate-advanced-link
{
    float: right;
    margin-right: 3px;
}

.RCCreate-header
{
    margin-top: 9px;
}

#RCCreate-container > td
{
    vertical-align: top;
}

.RCAdd-info-container
{
    color: green;
    font-size: 12px;
}

.RCAdd-warning-container
{
    color: orange;
    font-size: 12px;
}

.RCAdd-vis-td
{
    text-align: center;
}

.RCAdd-vis-remove > img
{
    margin: 3px;
}

.manual-type-widget div
{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0px 2px;
    cursor: pointer;
    background-image: url(img/manual_types.png)
}

.manual-polygon
{
    background-position: -96px 0px;
}

.manual-polygon.manual-active-type
{
    background-position: -120px 0px;
}

.manual-linestring
{
    background-position: -48px 0px;
}

.manual-linestring.manual-active-type
{
    background-position: -72px 0px;
}

.manual-point
{
    background-position: -0px 0px;
}

.manual-point.manual-active-type
{
    background-position: -24px 0px;
}

.layer-advanced-title
{
    padding: 3px 0px;
    vertical-align: top;
}

.gmx-disabled {
    color: #999999;
    pointer-events: none;
    cursor: default;
}
