ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
li.header1
{
	float:left;
	position:relative;
	padding:0px 0px 0px 0px;
	overflow:inherit;
/*	white-space:nowrap;*/
	display:inline;
	z-index:2;
	cursor:default;
	margin: 0px 0px 0px 0px;
/*	background: #c4dfe7;*/
}
div.header1
{
	text-align:center;
	color:#153069;
	font-family:tahoma;
	font-size:12px;
	font-weight:normal;
	padding:8px 10px 7px 10px;
	white-space:nowrap;
	background: transparent /*url(img/knopki_body.png) repeat-x scroll 0px 0px*/;
/*	height: 15px;*/
}
ul.header1
{
	z-index:2;
	color:#666666;
	margin-left:0px;
}

.buttonLeft
{
	width: 5px;
	height: 30px;
	background: transparent /*url(img/left_knopka.png)*/;
}
.buttonRight
{
	width: 5px;
	height: 30px;
	background: transparent /*url(img/right_knopka.png)*/;
}
ul.header2
{
	margin-left:0px;
	width:180px;
	position:absolute;
	visibility:hidden;
/*	display: none;*/
	background: #c4dfe7/* url(img/grad2.png) repeat-y 0px 0px*/;
	z-index:2;
	border: 1px solid #e6f1f5;
}
li.header2
{
	float:left;
	position:relative;
	width:180px;
/*	height:25px;*/
	z-index:2;
	cursor:default;
}
ul.header3
{
	margin-left:175px;
	margin-top:-21px;
	width:180px;
	position:absolute;
	visibility:hidden;
/*	display: none;*/
/*	border:1px solid #9FC0C4;*/
	z-index:3;
	background: #c4dfe7/* url(img/grad2.png) repeat-y -180px 0px*/;
	border: 1px solid #e6f1f5;
}
li.header3
{
	float:left;
	position:relative;
	width:180px;
/*	height:25px;*/
	z-index:3;
	cursor:default;
}
div.header2,
div.header3
{
	padding: 4px 20px 6px 10px;
	text-align:left;
	color:#153069;
	font-family: tahoma;
	font-size: 12px;
	font-weight: normal;
/*	white-space: normal;*/
}
div.header2.menuDisabled,
div.header3.menuDisabled
{
	color: #999999;
}

li.header1.menuActive
{
/*	background: url(img/grad.png) repeat-x scroll 0px -40px;*/
}
li.header1.menuActive div.header1,
li.header2.menu2Active div.header2,
li.header3.menu3Active div.header3
{
	color: #fc830b;
}

li.header1.menuActive div.header1
{
	background: #c4dfe7;
/*	background: transparent url(img/knopki_body.png) repeat-x scroll 0px 0px;*/
}

li.header1.menuActive div.buttonLeft
{
/*	background: transparent url(img/left_knopka.png) repeat-x scroll 0px 0px;*/
}
li.header1.menuActive div.buttonRight
{
/*	background: transparent url(img/right_knopka.png) repeat-x scroll 0px 0px;*/
}

.menu2Active
{
/*	background: #8cb7db/* url(img/grad2.png) repeat-y -360px 0px*/;
}
.menu3Active
{
/*	background: #8cb7db/* url(img/grad2.png) repeat-y -540px 0px*/;
}

/* menu */
div.upMenu
{
	background: none/*#BCCDDB/* url(img/grad.png) repeat-x scroll 0px 0px*/;
	height: 30px;
}
.markerRight
{
	width: 10px;
	background: url(img/arrows.png) -5px -5px no-repeat;
	float: right;
	height: 10px;
	margin-top: 2px;
	width: 10px;
	padding-right: 5px;
}
.menuMarkerRight
{
	position: absolute;
	right: 5px;
	top: 5px;
	background: url(img/arrows.png) -5px -5px no-repeat;
	height: 10px;
	width: 10px;
}
.menuNavigateBorder
{
	background: transparent url(img/grad.png) repeat-x scroll 0px -30px;
	margin: 0px;
	height: 10px;
	font-size: 0px;
}
td.menuNavigateCurrent
{
	font-size: 12px;
	margin: 0px;
	color: #FFFFFF;
}

li.login
{
	float: right;
	padding:0px 20px 0px 20px;
	display:inline;
	z-index:2;
	cursor:pointer;
	margin: 2px 10px 0px 0px;
}
div.login
{
	text-align:center;
	color:#293D6B;
	font-family:arial,sans-serif;
	font-size:1em;
	padding:7px 0px 8px 0px;
	white-space:nowrap;
}

/* */
.iconsParent
{
	/*width: 100%;*/
}
.iconsParent td
{
	height: 30px;
}
.iconsParent td div.toolbarIcon
{
	width: 24px;
	height: 24px;
	margin: 5px 7px 0px 7px;
}
.iconMapName
{
	width: 240px;
	padding: 1px 0px;
	overflow-x: hidden;
	color: #FFFFFF;
	font-size: 12px;
}

li.loginCanvas
{
	float:right;
	position:relative;
	padding:0px 20px 0px 20px;
	overflow:inherit;
	white-space:nowrap;
	display:inline;
	z-index:2;
	cursor:default;
}
td.searchCanvas
{
	padding-left: 60px;
}