


#listing DIV SPAN {

	color: #000099;
	cursor: pointer;
}

.menu {

	padding: 5px 5px 15px 10px;

}

.menu SPAN {

	cursor: pointer;
	color: #000099;
	text-decoration: underline;
	padding: 5px 15px 5px 0px;
}

.plug {

	color: #999999;
	padding: 3px 3px 3px 3px;
	margin: 5px 5px 5px 5px;
	border: 1px dashed #999999;
}


.title_usual {

	color: #000000;
	background-color: #ffffff;
	cursor: pointer;
}

.title_active {

	color: #000000;
	background-color: #cccccc;
	cursor: pointer;
}

.title_drag {

	color: #000000;
	background-color: #d0d0ff;
	cursor: pointer;
	border: 1px dashed #000099;
}
