/*.CalendarWidget-inputCell {
    padding: 0px 1px;
    text-align: center;
}

.CalendarWidget table, .CalendarWidget tr, .CalendarWidget td
{
    border: 0px;
    border-collapse: collapse;
    padding: 0px;
}

.CalendarWidget-dateBeginInfo, .CalendarWidget-dateEndInfo {
    text-align: center;
}

.CalendarWidget-iconScrollLeft, .CalendarWidget-iconScrollRight, .CalendarWidget-iconMore {
    color: #404040;
    font-size: 14px;
    cursor: pointer;
}

.CalendarWidget-dateBegin, .CalendarWidget-dateEnd {
    width: 6em;
    text-align: center;
}

.CalendarWidget-forecast {
    margin: 0px 0px 0px 4px;
}*/
/*CalendarWidget*/

.CommonCalendarWidget .CalendarWidget-dateBegin,
.CommonCalendarWidget .CalendarWidget-dateEnd {
    border: 0;
    background-color: #efefef;
    cursor: default;
}

.CommonCalendarWidget .CalendarWidget-show-calendar-icon {
    cursor: pointer
}

.CommonCalendarWidget .CalendarWidget-show-calendar-icon.disabled {
    cursor: default;
}

.calendar-outside select {
    border: 0;
}

.time-select {
    height: 15px;
}

.time-container {
    position: absolute;
    display: block;
    width: 208.8px;
    bottom: 30px;
    height: 15px;
    margin-bottom: 8px;
}

.time-picker-container {
    display: block;
    margin: auto;
    width: 80px;
    height: 15px;
}

.time-picker-label {
    color: #808080;
    margin-right: 8px;
}

.time-select {
    color: #808080;
    width: 55px;
}

.calendar-outside .ui-dialog-titlebar.ui-widget-header {
    display: none;
}


.ui-datepicker {
    border: none;
    margin-bottom: 12px;
}

.ui-datepicker table {
    width: 100%;
}

.ui-icon ui-icon-circle-triangle-e {
    background-image:
}

.ui-datepicker tbody td {
    text-align: center;
    padding: 0;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 22px;
  height: 22px;
  line-height: 22px;
}

/*названия дней недели*/
.ui-datepicker-calendar th {
    color: #C0C0C0;
}

.ui-datepicker-calendar tr {
    color: #808080;
}
.ui-datepicker-month, .ui-datepicker-year,
.ui-datepicker-calendar a.ui-state-default {
    color: #808080;
}

/*выходные*/
.ui-datepicker-week-end a.ui-state-default {
    color: #d54848;
}

.ui-state-default.ui-state-active {
    padding: 0;
    border-radius: 50%;
    border: 2px solid #1471bb;
}

.ui-state-default.ui-state-highlight {
    padding: 0;
    border-radius: 50%;
        background-color: #e2e2e2;
}

.calendar-button-container {
    position: absolute;
    display: block;
    width: 208.8px;
    bottom: 30px;
    height: 26px;
    bottom: 4px;
}

.calendar-button {
    /*display: block;*/
    cursor: pointer;
    position: absolute;
    width: 150px;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    margin-left: 25.4px;
    bottom: 4px;
}

.createdateinterval-button,
.resetdateinterval-button {
    color: #1471bb;
    text-decoration: underline;
}

.selectdateinterval-button {
    border-radius: 10px;
    background-color: #1471bb;
    color: white;
}

.calendar-button.disabled {
    background-color: #cfcfcf;
    pointer-events: none;
    cursor: default;
}
