.mapExportConfigLeftMenu {
    position: relative;
    padding: 3px 0px 3px 7px;
}

.settings {
    width: 90%;
}

.areaButton,
.mapExportButton {
    margin: 4px 0px 4px 0px;
    cursor: pointer;
}

.adjustButton {
    margin: 0px 0px 0px 8px;
}

.btn-hidden {
    display: none;
}

.not-active {
    color: #999999;
    pointer-events: none;
    cursor: default;
}

.selectButtons {
    margin: 4px 4px 4px 0px;
}

.mapExportTooltip,
.zoomSelect,
.dims,
.formatSelect,
.nameSelect {
    margin: 4px 0px 4px 0px;
}

.zoomSelect,
.dimensionsSelect,
.formatSelect,
.nameSelect {
    margin: 4px;
}

.zoomSelect,
.dimensionsSelect,
.formatSelect,
.nameSelect {
    clear:both;
    text-align:left;
}

.zoomLevel,
.formatTypes,
.mapExportWidth,
.mapExportHeight,
.mapExportName {
    clear:both;
    text-align:left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.zoomLevel,
.formatTypes {
    /*border-width: 2px;*/
    width: 80px;
    vertical-align:top;
    height:20px;
}

.mapExportWidth,
.mapExportHeight {
    width: 80px;
}

.mapExportName {
    width: 150px;
}

.elabel {
    width: 35%;
    float:left;
}

.export {
    clear: both;
}

.mapExportWarn {
    margin: 4px 4px 4px 4px;
}

.error {
	background-color: #FFABAB;
}
