/** временный файл для интеграции общих стилей Common Components в ГеоМиксер*/

.table {
    display: table;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
}

/* Geo-search */
.searchBeginOnTD
{
	border: none;
	width: 21px;
	text-align: right;
}

.searchBeginOn, .searchBeginOff {
	height: 24px;
	width: 24px;
    border: 1px solid #E2E2E2;
    margin-right: -1px;
    display: none;
}

.searchBeginOn
{
	background: transparent url(../img/searchBeginOn_2.png) no-repeat scroll 0 0;
	cursor: pointer;
}
.active .searchBeginOn
{
	background: transparent url(../img/searchBeginOn_2a.png) no-repeat scroll 0 0;
}
.searchBeginOff
{
	background: transparent url(../img/searchBeginOff_2.png) no-repeat scroll 0 0;
	cursor: pointer;
}
.active .searchBeginOff
{
	background: transparent url(../img/searchBeginOff_2a.png) no-repeat scroll 0 0;
}

.genericHeader-left {
    width: 360px;
}

.leaflet-bottom .leaflet-control.baseLayersControl  {
    margin-bottom: 27px;
}