/** временный файл для интеграции общих стилей Common Components в ГеоМиксер*/

.table {
    display: table;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
}

/* Geo-search */
.searchBeginOnTD
{
	border: none;
	width: 21px;
	text-align: right;
}
.searchBeginOn
{
	background: transparent url(../img/searchBeginOn.png) no-repeat scroll 0 0;
	cursor: pointer;
	height: 22px;
	width: 21px;
}
.active .searchBeginOn
{
	background: transparent url(../img/searchBeginOn_a.png) no-repeat scroll 0 0;
}
.searchBeginOff
{
	background: transparent url(../img/searchBeginOff.png) no-repeat scroll 0 0;
	border: none;
	height: 22px;
	width: 21px;
	cursor: pointer;
}
.active .searchBeginOff
{
	background: transparent url(../img/searchBeginOff_a.png) no-repeat scroll 0 0;
}

.genericHeader-left {
    width: 360px;
}