/* added css for Geomixer */

.cursorAuto {
  cursor: auto;
}

.leaflet-container {
    cursor: default;
}
.leaflet-image-layer {
	z-index: -1;
}

.leaflet-ext-search input {
    border-radius: 4px;
}

@media screen and (min-width: 1300px) {
.leaflet-ext-search input {
    width: 310px;
}

.leaflet-ext-search, .leaflet-ext-search-list {
    width: 350px;
}
}

@media screen and (max-width: 1300px) {
.leaflet-ext-search input {
    border-radius: 4px;
    width: 150px;
}

.leaflet-ext-search, .leaflet-ext-search-list {
    width: 190px;
}
}
