.leaflet-map-pane {
    z-index: 0;
}
.leaflet-control-container {
    z-index: 1;
}
.leaflet-control-layers {
    background-color: rgba(255, 255, 255, 0.7);
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .leaflet-control-layers {
        background-color: rgba(255, 255, 255, 1);
    }
}

.gmx_coordFormatChange {
    background-image: url("../img/coords.png");
    cursor: pointer;
    width: 10px;
    height: 9px;
    display: block;
    float: left;
    clear: none;
    margin-right: 5px;
    margin-top: 5px;
}
.gmx_location {
    font-size: 11px;
    right: 0px;
    bottom: -9px;
    margin-bottom: 0px;
}
.gmx_locationTxt {
    color: black;
    float: left;
    cursor: pointer;
    font-size: 9pt;
    font-family: Tahoma;
    margin-right: 8px;
}
.gmx_scaleBar {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 1px;
    height: 4px;
    width: 40px;
}
.gmx_scaleBarTxt {
    color: black;
    margin-left: 2px;
    font-size: 9pt;
    font-family: Tahoma;
}

.gmx_copyright_location_bg {
    height: 20px;
    opacity: 0.5;
    width: 100%;
    background-color: white;
}
.leaflet-left {
    left: 0;
    width: 100%;
}
.gmx_copyright_location {
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 20px;
    margin-bottom: 0px !important;
    position: absolute;
    color: #000000;
    font-family: Tahoma;
    font-size: 9pt;
    word-break: break-all;
    overflow: hidden;
}
.gmx_zoomPointer {
    background-image: url("../img/iconControls.png");
    background-position: -3px -121px;
    cursor: pointer;
    position: relative;
    width: 29px;
    height: 7px;
}
.gmx_zoomVal {
    background-image: url("../img/iconControls.png");
    background-position: -33px -117px;
    font-family: Tahoma;
    font-size: 9pt;
    font-weight: bold;
    height: 17px;
    left: 25px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: -5px;
    width: 22px;
}
.gmx_sliderCont {
    position: relative;
    top: -5px;
    display: none;
}
.gmx_sliderBG {
    background-image: url("../img/band.png");
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 7px;
    height: 28px;
    width: 11px;
}
.gmx_zoomParent {
    padding-bottom: 2px;
    margin-left: 50px;
    margin-top: 60px;
    position: absolute;
    left: 2px;
    top: 60px;
}
.gmx_zoomMinus {
    background-image: url("../img/iconControls.png");
    background-position: -27px -33px;
    position: relative;
    cursor: pointer;
    width: 23px;
    height: 25px;
    margin-left: 2px;
    margin-top: 2px;
}
.gmx_zoomMinus:hover {
    background-position: -27px -7px;
}
.gmx_zoomPlus {
    background-image: url("../img/iconControls.png");
    background-position: -2px -33px;
    position: relative;
    cursor: pointer;
    width: 23px;
    height: 25px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;    
}
.gmx_zoomPlus:hover {
    background-position: -2px -7px;
}
.gmx_zoomPlaque {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
    background-color: white;
    opacity: 0.3;
    position: absolute;
    width: 30px;
    height: 60px;
    margin: -2px 0 0 -2px;
}
.leaflet-control-Text {
    cursor: pointer;
    clear: none;
    float: left;
    border-radius: 4px;
    padding: 6px 6px 4px;
    height: 20px;
    background-color: rgba(154, 154, 154, 0.7);
    color: white;
    font-weight: bold;
}
.leaflet-control-Text:hover, .leaflet-control-Active {
    background-color: rgba(154, 154, 154, 1);
}
.leaflet-control-userIcons {
    background-color: rgba(154, 154, 154, 0.7);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    clear: none;
    float: left;
    margin-left: 6px;
    position: relative;
    cursor: pointer;
    margin-left: 6px !important;
}
.leaflet-control-userIcons:hover, .leaflet-control-userIcons-Active {
    background-color: rgba(154, 154, 154, 1);
}

.leaflet-control-ImageAuto {
    width: 30px;
    height: 30px;
}
.leaflet-control-ImageAuto  img {
    max-width: 30px !important;
    position: absolute !important;
}

.leaflet-control-Image {
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
}
.leaflet-control-icons {
    /*background-color: #9A9A9A;*/
    border-radius: 4px;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 6px;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    clear: none;
}

.leaflet-control-Drawing-FRAME {
    background-image: url("../img/iconControls.png");
    background-position: -269px -33px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    clear: none;
    margin-bottom: 4px;
}
.leaflet-control-Drawing-FRAME:hover, .leaflet-control-Drawing-FRAME-Active {
    background-position: -269px -2px;
}
.leaflet-control-Drawing-POLYGON {
    background-image: url("../img/iconControls.png");
    background-position: -503px -33px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    clear: none;
    margin-bottom: 4px;
}
.leaflet-control-Drawing-POLYGON:hover, .leaflet-control-Drawing-POLYGON-Active {
    background-position: -503px -2px;
}
.leaflet-control-Drawing-LINESTRING {
    background-image: url("../img/iconControls.png");
    background-position: -393px -33px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    clear: none;
    margin-bottom: 4px;
}
.leaflet-control-Drawing-LINESTRING:hover, .leaflet-control-Drawing-LINESTRING-Active {
    background-position: -393px -2px;
}
.leaflet-control-Drawing {
    clear: none;
    float: left;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    margin-left: 6px !important;
}
.leaflet-control-drawingPoint {
    background-image: url("../img/iconControls.png");
    background-position: -238px -33px;
    float: left;
    margin-left: 6px !important;
}
.leaflet-control-drawingPoint:hover, .leaflet-control-drawingPoint-Active {
    background-position: -238px -2px;
}
.leaflet-control-drawingZoom {
    background-image: url("../img/iconControls.png");
    background-position: -627px -33px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    clear: none;
    float: left;
    margin-left: 6px !important;
}
.leaflet-control-drawingZoom:hover, .leaflet-control-drawingZoom-Active {
    background-position: -627px -2px;
}
.leaflet-control-permalink {
    background-image: url("../img/iconControls.png");
    background-position: -534px -33px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    clear: none;
    float: left;
    margin-left: 6px !important;
}
.leaflet-control-permalink:hover {
    background-position: -534px -2px;
}
.leaflet-control-print {
    background-image: url("../img/iconControls.png");
    background-position: -52px -33px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    clear: none;
    float: left;
    margin-left: 6px !important;
}
.leaflet-control-print:hover {
    background-position: -52px -2px;
}
.leaflet-control-hide {
    background-image: url("../img/iconControls.png");
    background-position: -596px -33px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    clear: none;
    float: left;
    margin-right: 19px;    
}
.leaflet-control-hide:hover {
    background-position: -596px -2px;
}

.leaflet-overlay-pane svg, .gmx_iconsControl {
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	-webkit-user-drag: none;
}

.canvas-imageTransform {
	pointer-events: auto;
    transform-origin: left top 0;
    -webkit-transform-origin: left top 0; /* Safari and Chrome */
    -ms-transform-origin: left top 0; /* IE 9 */
}
/*.leaflet-container {
	cursor: inherit !important;
	}
*/
.leaflet-tile-container {
	pointer-events: none;
}
/*
.leaflet-overlay-pane svg {
	pointer-events: none;
}
*/
.leaflet-overlay-pane svg g {
	pointer-events: auto;
}
.leaflet-tile {
	position: absolute;
}
.leaflet-shadow-pane {
    z-index: 3 !important;
}
.leaflet-overlay-pane {
	z-index: 1000;
}
.leaflet-popup-pane {
	z-index: 2000;
}
.leaflet-canvas-icon {
}

.my-div-icon {
	color: white;
	font-weight: bold;
}

.leaflet-marker-icon {
	/*-moz-text-shadow: 1px 1px 1px #FFFFFF;
	-webkit-text-shadow: 1px 1px 1px #FFFFFF;
	text-shadow: 1px 1px 1px #FFFFFF;*/
	/* For IE 8 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#FFFFFF')";
	*/
	/* For IE 5.5 - 7 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#FFFFFF'); 
	*/
}
/*
@media print {
	.leaflet-tile {
		position: absolute;
	}
	.flashMap {
		position: absolute !important;
	}
    .noPrint {
        display:none;
    }

    .linkbutton {
        display: none;
        cursor: pointer;
    }

    @page rotated { size: landscape }

    .mainmap {
        width:840px;
        height:600px;
    }

    div.spacer {
        display:none;
    }
}
*/