/* added css for Geomixer */

.cursorAuto {
  cursor: auto;
}

.leaflet-container {
    cursor: default;
}

/* added css for cadastre Popup */
.cadInfo .cadNum {
    font-weight: bold;
}
.cadInfo .address {
    padding-bottom: 12px;
}
.cadInfo .ShowObjectLabel {
    position: relative;
    top: -3px;
    margin-left: 4px;
}
