/* added css for Geomixer */

.cursorAuto {
  cursor: auto;
}

.leaflet-container {
    cursor: default;
}
.leaflet-image-layer {
	z-index: -1;
}

.leaflet-ext-search input {
    border-radius: 4px;
    width: 310px;
}

.leaflet-ext-search, .leaflet-ext-search-list {
    width: 350px;
}

.leaflet-ext-search {
    border-radius: 4px;
}
